/*
 900px: page width
 550px: hero text width
*/

@font-face {
  font-family: 'Menlo';
  src: url('Menlo-Regular.woff2') format('woff2'),
      url('Menlo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body, * {
  font-family: 'Menlo', monospace;
}

.container {
  white-space: pre;
}
.main {
  display: flex;
}
.text {
  max-width: 900px;
  white-space: pre-wrap;
}
.main .text {
  max-width: 550px;
}
.finances-small {
  display: none;
}
@media (max-width: 900px) {
  .main {
    display: block;
  }
  .main div {
    width: fit-content;
    margin: 0 auto;
  }
  .finances-big {
    display: none;
  }
  .finances-small {
    display: block;
  }
}

.fit {
  width: fit-content;
}
.center {
  margin: 0 auto;
}
.inline-block {
  display: inline-block;
}

button {
  font-size: 16px;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
}

.modal-wrapper {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/dither.png');
  image-rendering: pixelated;
}
.modal-close {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  height: 35px;
  width: 35px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.modal-close img {
  width: 100%;
}
